<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">Fun  Offer</h1>
       <p class="slogan">Fun Offer 是一个提供与众不同的工作的网站。
         <br>
         人生苦短，怎能不性感。
         <br>
         想象一下你只有三天生命了，你最想体验的工作是什么呢？
       </p>
       <p class="lead">
         <%= link_to '马上开启趣味之旅', jobs_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
 </div>

 <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">工作态度是认真，人生态度是有趣</h2>
          <p class="lead">两者皆有，何乐而不为？</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'cannon.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">25岁就死了，75岁才埋？</h2>
          <p class="lead">不！不自由，毋宁死！</p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag 'strong_man.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">不喜欢的工作我可以不要<br>因为我有选择的资本！</h2>
          <p class="lead">不试试怎么知道呢？</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'acrobat.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>
